body { margin:0; background:#FFFFFF; font-size: 12pt; color:#333333; font-family: 微軟正黑體; }

ul, li { margin:0; padding:0; list-style:none; }
a { text-decoration:none; }

/* 版頭 */
.headArea { margin:0 auto; width:1000px; overflow:hidden; }
.head-L { float:left; padding:10px 0px 0px 0px; }
.head-R { float:right; padding-top:70px; }

/* 版頭按鈕列 */
.headBtnArea{ width:100%; background:#727272; overflow:hidden; }
.headBtn{ margin:0 auto; width:1000px; }
.headBtn li { float:left; padding:15px 0px; }
a.btn1{ padding:15px 30px; background:#727272; color:#FFFFFF; border-right:1px #000000 solid; }
a:hover.btn1{ background:#000000; color:#FFFF00; }
.Lline { border-left:1px #000000 solid; }

/* 首頁版身-全幅圖片區 */
.index-ad { width:100%; }
.index-ad img { width:100%;  border-bottom:2px #2e2e2e solid; height:auto; }

/* 首頁版身-隨機呈現產品圖片區 */
.index-tab { margin:0 auto; width:1000px; overflow:hidden; }
.tabtit { padding:20px; text-align:center; }
.tab4s { float:left; margin:5px; width:230px; height:230px; border:1px #2e2e2e solid; z-index:1; position:relative; }
.tab4s img { width:230px; height:230px; }
.tab4s-tit { z-index:2; position:absolute; width:210px; text-align:center; bottom:0; left:0; padding:10px; background:rgba(0,0,0,0.7); color:#FFFFFF;}

/* w1000 */
.w1000 { margin:0 auto; width:1000px; padding:30px 0px; text-align:center; }
a.btn2 { padding:15px 30px; background:#2E2E2E; color:#FFFFFF;  border-radius:8px; font-size:14pt; }
a:hover.btn2 { background:#5C5C5C; }

/* 版尾 */
.footerArea { width:100%; background:#727272; box-shadow:0px 0px 10px #000000; }
.footer { margin:0 auto; width:1000px; padding:10px 0px; color:#FFFFFF; line-height:25px; overflow:hidden; }
.footer-L { float:left; }
.footer-R { float:right; padding-top:40px; }

/* 內頁版身 */
.bodyArea { margin:0 auto; width:1000px; overflow:hidden; }
.body-L { float:left; width:240px; padding:10px 0px; margin-right:10px; overflow:hidden; }
.body-R { width:750px; padding:10px 0px; min-height:300px; overflow:hidden; }